/* RGB */
$color1: rgba(29, 30, 24, 1); // eerie black
$color2: rgba(107, 143, 113, 1); // russian green
$color3: rgba(170, 210, 186, 1); // turquoise green
$color4: rgba(217, 255, 245, 1); // light cyan
$color5: rgba(185, 245, 216, 1); // magic mint